.projetos {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.5rem;
}

.projetos__card {
  background: var(--card);
  border-radius: 6px;
  box-shadow: 2px 2px 32px rgba(27, 25, 30, 0.15);
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.card__img {
  border-radius: 6px 6px 0 0;
  width: 100%;
}

.card__titulo {
  color: var(--title);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  padding: 0 1rem;
}

.skills__lista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.625rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.skill__lista-item {
  color: #dbffff;
  background: var(--roxo);
  border-radius: 4px;
  font-weight: 400;
  font-size: 0.5rem;
  letter-spacing: 0.12rem;
  line-height: 140%;
  padding: 8px 16px;
  text-transform: uppercase;
}

.projetos__card__decricao {
  color: var(--text);
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.04rem;
  padding: 0 1rem;
  margin-bottom: 1.18rem;
}

.projetos__botao {
  border: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  /* or 150% */
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  width: 90%;
  margin: 0 auto;
}
